@use 'var';

nav {
    background-color: $nav-color;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        list-style: none;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: $a-color;
        padding: 1rem 2rem;
        display: inline-block;
        font-size: 120%;
        font-weight: bolder;

        a:hover{
            background-color: aliceblue;
            transform: scale(1.2);
            transition: all 0.2s ease-in;
        }
    }
}