@use 'grid' as *;
@use 'nav' as *;
@use 'foot' as *;
@use 'var' as *;

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headings {
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    color: $font-color;

    &:hover {
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
        font-size: 220%;
        background-color: $main-color;
    }
}

body {
    margin-top: 15vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_1280.jpg);
    background-image: linear-gradient(rgba(160, 150, 109, 0.5), rgba(241, 240, 222, 0.5)), url(https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_1280.jpg);
}


    // body {
    //   position: relative;
    //   height: 100%;
    // }

    // body {
    //   background: #eee;
    //   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    //   font-size: 14px;
    //   color: #000;
    //   margin: 0;
    //   padding: 0;
    // }

    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
    }


@media screen and (min-width: 320px)  and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 1%;
        padding: 1%;
        height: $grid-height * 2;
       
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    nav {
        position: fixed;
        width: 100%;
        margin-bottom: 0;

        ul {
            display: flex;
            flex-direction: column;
        }

        a {
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    body {
        margin-top: 25%;
    }

    .headings {
        font-size: 150%;
    }

}

@media screen and (max-width: 320px) {
    .grid{
        padding:1rem 2%;
    }
}
